<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.avatar}}"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">I am a IT engineer(primarily Web Development) living in provincial city in Japan<span id="js-rotating">please feel free to contact me everyone, just communicate</span> </h4>
    </div>
    <div class="divider"></div>
    <br>
    <div class="user-content center-align">
        <h5>Web front-end developer at aircode (South Korea)</h5> 
        <div style="font-size: 0.8rem">2015.04 ~ 2018.03</div> 
        <p>
            Javascript(jQuery, vue.js,), html5, css, eclipse, sublime text3, visual studio code, redmine, mantis, slack, svn
        </p>
        <br>
        <h5>Full Stack developer at Micron Memory Japan (Japan)</h5> 
        <div style="font-size: 0.8rem">2018.05 ~ 2019.01</div> 
        <p>
            python, javascript, html5, css, golang, visual studio code, pycharm, bitbucket, jira, confluence, elasticsearch, mysql, docker, fess, prometheus&grafana
        </p>
        
    </div>
</div>
