<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.avatar}}"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">일본 지방 도시에 살고 있는, 풀스택 개발자가 되고 싶은 IT 엔지니어의 블로그(주로 웹 개발) <span id="js-rotating">여러 사람들과 교류를 하기 위해 블로그를 운영하고자 합니다. 언제든지 연락주세요</span> </h4>
    </div>
    <div class="divider"></div>
    <br>
    <div class="user-content center-align">
        <h5>WEB FRONT-END developer at Aircode (South Korea)</h5> 
        <div style="font-size: 0.8rem">2015.04 ~ 2018.03</div> 
        <p>
            Javascript(jQuery, vue.js,), html5, css, eclipse, sublime text3, visual studio code, redmine, mantis, slack, svn
        </p>
        <br>

        <h5>FULL STACK developer at Micron Memory Japan (Japan)</h5> 
        <div style="font-size: 0.8rem">2018.05 ~ 2019.01</div> 
        <p>
            python, javascript, html5, css, golang, visual studio code, pycharm, bitbucket, jira, confluence, elasticsearch, mysql, docker, fess, prometheus&grafana
        </p>
        <br>

        <h5>SERVER Engineer at Rei-Frontier (Japan)</h5> 
        <div style="font-size: 0.8rem">2019.02 ~ </div> 
        <p>
            Ruby(Ruby on Rails), AWS, mysql, mongodb, Jenkins+Capistrano, itamae
        </p>
        <br>

        
    </div>
</div>
